.flex-container {
    width: 400px;
    padding: 1em;
    border: 2px solid blue;
    display: flex;
}

.flex-item {
    background: #eee;
    padding: 20px;
    border: 2px solid #000;
}

.flex-grow0 {
    flex-grow: 1;
}

.flex-grow1 {
    flex-grow: 1;
}

.flex-grow2 {
    flex-grow: 1 2 3;
}