* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 14px;
    line-height: 1.5;
    font-family: "Lato", sans-serif;
}

body, input, textarea, select, option {
    font-family: inherit;
    font-size: inherit;
}

body {
    padding: 2em;
}

h2 {
    margin-top: 2em;
}

code {
    display: block;
    padding: 2em 2em 0.5em 2em;
    border-radius: 0.3em;
    margin: 2em 0;
    border: 1px solid #ccc;
    overflow: auto;
}

input {
    display: inline-block;
    padding: 0.5em 0.8em;
    border: 2px solid #ccc;
    outline: none;
}

input:focus {
    border-color: #090;
}

button {
    padding: 0.5em 1em;
    background-color: #007bff;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.field {
    padding: 2em;
    border: 2px solid #ccc;
    max-width: 50ch;
    padding: 0 1em;
    font-weight: bold;
    display: block;
    width: 100%;
    padding-bottom: 1.5em;
}